
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bgLight);

}
.form-container {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2)
}

.form-container__row {
    
    display: flex;
    margin-top: 1.5em;
    flex-direction: column;
    margin: 1em 0;
}

.form-container__input {
    border: 1px solid grey;
    padding: 8px;
    width: 15em;
    border-radius: 8px;
    margin-top: .3em;
}

.title {
    font-size: 1.3rem;
}

#form-id {
    margin-top: 1em;
}

.submit-btn {
    margin-top: 1.5em;
    display: inline-block;
    background-color: var(--green);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8em 0;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2)
}